<div class="featured-hero" style="background-image: url('{{#if featured.backdrop_url}}{{featured.backdrop_url}}{{else}}{{featured.poster_url}}{{/if}}');">
  <div class="featured-hero__overlay"></div>
  <div class="featured-hero__content">
    {{#if featured}}
      <h1 class="featured-hero__title">{{featured.title}}</h1>
      <p class="featured-hero__description">{{featured.synopsis}}</p>
      <button class="featured-hero__button" data-id="{{featured.id}}">Ver Detalles</button>
    {{else}}
      <h1 class="featured-hero__title">Cargando...</h1>
    {{/if}}
  </div>
</div>